commit.time
target.mk

.*.sw*
*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*output
*.RData
*.Rlog
*.r
.Rhistory

*.deps
*.reqs
*.rdeps
*.wc 

*.wrapR.*

local.mk

cache/
testdir/
.testdir/
localdir/
.localdir/
subclone_dir/

*.png

coexistence.html
johnson.html
rabies_sq.html
*.bib
*.bibmk
*.mdmk
*.point

standard.local
test.print
